.filters {
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    position: relative;
}

.filters button {
    background-color: #FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    right: 30px;
    top: 15%;
    border-radius: 4px;
    position: absolute;
    align-content: center;
}

.filters button:hover {
    opacity: 90%;
}